{% import_yaml "geoserver/defaults.yaml" as defaults %}
{% import_yaml "geoserver/os.yaml" as osmap %}

{% set geoserver = salt.grains.filter_by(
    osmap,
    grain='os',
    merge=salt.pillar.get('geoserver:lookup', {})
) %}

{# Merge defaults for _all_ Geoserver instances #}

{% do geoserver.defaults.update(
    salt.slsutil.merge(
        defaults['geoserver'],
        geoserver.defaults|default({})
    )
) %}

{% do geoserver.update({
    'instances' : salt.pillar.get('geoserver:instances')
}) %}


{% for instance, config in geoserver.instances.items() %}

{% do config.update(
    salt.slsutil.merge(geoserver.defaults, config|default({}))
) %}

{% do config.update(
    salt.slsutil.merge(defaults.geoservers[config.version], config|default({}))
) %}

{% do config.update(
    salt.slsutil.merge({
        'log': geoserver.log|path_join(instance) ~ '.log',
        'root': geoserver.root|path_join(instance),
        'data_dir': geoserver.root|path_join(
            instance, 'geoserver-' ~ config.version, 'data_dir'
        ),
        'GEOSERVER_HOME': geoserver.root|path_join(instance, 'geoserver-' ~
            config.version),
        'GEOSERVER_DATA_DIR': geoserver.root|path_join(
            instance, 'geoserver-' ~ config.version, 'data_dir'
        ),
        'web_xml': geoserver.root|path_join(
            instance, 'geoserver-' ~ config.version, 'webapps', 'geoserver', 
            'WEB-INF', 'web.xml'
        ),
        'lib': geoserver.root|path_join(
            instance, 'geoserver-' ~ config.version, 'webapps', 'geoserver', 
            'WEB-INF', 'lib'
        ),
        'bin_dir': geoserver.root|path_join(
            instance, 'geoserver-' ~ config.version, 'bin'
        ),
        'source': geoserver.source_files|path_join(
            'geoserver', config.version, 
            'geoserver-' ~ config.version ~ '-bin.zip'
        ),
        'source_hash': geoserver.source_files|path_join(
            'geoserver', config.version, 'md5sum'
        ),
        'jdk_conf': salt.slsutil.merge(
            defaults['jdks'][salt.grains.get('os')][config.jdk],
            config[config.jdk]|default({})
        ),
    },
    config)
) %}

{% if config.clustering.config is defined %}
{% do config.clustering.config.update(
    salt.slsutil.merge({
        'CLUSTER_CONFIG_DIR': config.GEOSERVER_DATA_DIR|path_join('cluster'),
        'instanceName': instance
    },
    config.clustering.config)
) %}
{% endif %}

{# Plugins #}

{% if config.plugins is defined %}
{% for plugin in config.plugins %}
    {% do plugin.update(
        salt.slsutil.merge({
            'source': geoserver.source_files|path_join(
                'geoserver', config.version, 
                'geoserver-' ~ config.version ~ '-' ~
                plugin.plugin ~ '-plugin.zip'
            ),
            'source_hash': geoserver.source_files|path_join(
                'geoserver', config.version, 'md5sum'
            ),
        }, plugin)        
    ) %}
{% endfor %}
{% else %}
{% do config.update({'plugins': []}) %}
{% endif %}

{# jetty #}

{% if config.jetty.modules is defined %}
{% for module, module_config in config.jetty.modules.items() %}
    {% if module_config.jar|default(True) %}
    {% set _jar = 'jetty-' ~ module ~ '-' ~ config.jetty.version ~ '.jar' %}
    {% do module_config.update(
        salt.slsutil.merge({
            'name': config.GEOSERVER_HOME | path_join('lib', _jar),
            'source': geoserver.source_files|path_join(
                'jetty', config.jetty.version, _jar
            ),
            'source_hash': geoserver.source_files|path_join(
                'jetty', config.jetty.version, 'md5sum'
            ),
        }, module_config)        
    ) %}
    {% endif %}
{% endfor %}
{% else %}
{% do config.jetty.update({'modules': []}) %}
{% endif %}


{% endfor %}

{% do salt.log.info(geoserver) %}
