{% import_yaml "geoserver/defaults.yaml" as defaults %}
{% import_yaml "geoserver/os.yaml" as osmap %}

{% set geoserver = salt.grains.filter_by(
    osmap,
    grain='os',
    merge=salt.pillar.get('geoserver:lookup', {})
) %}

{# Merge defaults for _all_ Geoserver instances #}

{% do geoserver.defaults.update(
    salt.slsutil.merge(
        defaults['geoserver'],
        geoserver.defaults|default({})
    )
) %}

{% do geoserver.update({
    'instances' : salt.pillar.get('geoserver:instances')
}) %}


{% for instance, config in geoserver.instances.items() %}

{% do config.update(
    salt.slsutil.merge(geoserver.defaults, config|default({}))
) %}

{% do config.update(
    salt.slsutil.merge({
        'log': geoserver.log|path_join(instance) ~ '.log',
        'root': geoserver.root|path_join(instance),
        'GEOSERVER_HOME': geoserver.root|path_join(instance, 'geoserver-' ~
            config.version),
        'GEOSERVER_DATA_DIR': geoserver.root|path_join(
            instance, 'geoserver-' ~ config.version, 'data_dir'
        ),
        'lib': geoserver.root|path_join(
            instance, 'geoserver-' ~ config.version, 'webapps', 'geoserver', 
            'WEB-INF', 'lib'
        ),
        'bin_dir': geoserver.root|path_join(
            instance, 'geoserver-' ~ config.version, 'bin'
        ),
        'source': 'salt://' ~ 'geoserver'|path_join(
            'files', config.version, 
            'geoserver-' ~ config.version ~ '-bin.zip'
        ),
        'source_hash': 'salt://' ~ 'geoserver'|path_join(
            'files', config.version, 'md5sum'
        ),
        'jdk_conf': salt.slsutil.merge(
            defaults['jdks'][salt.grains.get('os')][config.jdk],
            config[config.jdk]|default({})
        )
    },
    config)

) %}

{# Plugins #}

{% if config.plugins is defined %}
{% for plugin in config.plugins %}
    {% do plugin.update(
        salt.slsutil.merge({
            'source': 'salt://' ~ 'geoserver'|path_join(
                'files', config.version, 'geoserver-' ~ config.version ~ '-' ~
                plugin.plugin ~ '-plugin.zip'
            ),
            'source_hash': 'salt://' ~ 'geoserver'|path_join(
                'files', config.version, 'md5sum'
            ),
        }, plugin)        
    ) %}
{% endfor %}
{% endif %}

{% endfor %}
{% do salt.log.info(geoserver) %}
